/*
 * Copy Right: Tencent SUX
 * Project: 美食认证空间
 * Comments: IOS端手机页面
 * @author: Tysonpan
 */
*{margin:0;padding:0;}
li{list-style: none}
html,body{font-size:12px;}
a{cursor: pointer;text-decoration: none}
img{border: none}
body{-webkit-text-size-adjust:none;color: #666;background:#e5e5e5 url(base64/body_bg_repeat.jpg) repeat-x;background-size: 1px 198px}

.container{width:320px;margin:0 auto;background:url(base64/food_top_bg.jpg) no-repeat center top;padding-top: 28px;font-size: 16px;background-size: 320px 198px}

.member_card{width: 236px;height: 142px;margin:0 auto;position: relative;}
.member_card img{width: 236px;height: 142px;-webkit-backface-visibility:hidden;-webkit-transition:all 0.4s linear;position: absolute;left: 0;top:0;cursor: pointer}
.member_card img.show{-webkit-transform:perspective(800px) rotateY(0deg);-webkit-transition-delay:0.4s}
.member_card img.front_hide{-webkit-transform:perspective(800px) rotateY(90deg);}
.member_card img.back_hide{-webkit-transform:perspective(800px) rotateY(-90deg);}

.member_privilege{margin:25px 10px 5px 10px}
.member_privilege h3{color: #059718;border-bottom:#c0c0c0 1px solid;padding: 0 0 10px 12px}
.member_privilege ul{border-top:#f5f5f5 1px solid}
.member_privilege ul li{background: url(base64/li_bg.png) no-repeat 6px 15px;line-height: 35px;border-bottom: #c0c0c0 1px dashed;border-top: #f5f5f5 1px dashed;padding-left: 16px;background-size:5px 5px}
.member_privilege ul li.first{border-top: none}
.member_privilege ul li.last{border-bottom: none}

.scroll_pic_container{background-image:url(base64/food_photo_bg_repeat.png);height:118px;background-repeat: repeat-x;position: relative;overflow: hidden}
.scroll_pic_container ul{width:495px;position: absolute;top:21px;left: 10px;height: 72px}
.scroll_pic_container ul li{width:72px;height: 72px;float: left;margin-right:10px}
.scroll_pic_container ul li img{width:72px;height: 72px;cursor: pointer}

.shop_info{margin: 18px 10px 75px;border: #dbdbdb 2px solid;border-radius: 7px;color: #0b0b0b;background-color: #f6f6f6}
.shop_info .info_list{display: block;height: 50px;padding:0 12px;line-height: 50px;position: relative;border-bottom:#e8e8e8 1px solid;border-top:#fff 1px solid;cursor: pointer}
.shop_info .info_list:active{background-color: #e5e5e5}
.shop_info .info_list.first{border-top: none}
.shop_info .info_list.last{border-bottom: none}
.shop_info .info_list i,span{display: inline-block;vertical-align: middle;}
.shop_info .info_list .text{margin-left: 10px}
.shop_info .info_list i.ico_location{background-image: url(base64/food_location.png);width: 11px;height: 14px;background-size: 11px 14px}
.shop_info .info_list i.ico_phone{background-image: url(base64/food_phone.png);width: 11px;height: 14px;background-size: 11px 14px}
.shop_info .info_list i.ico_right_arrow{background-image: url(base64/food_right_arrow.png);width: 11px;height: 14px;position: absolute;right: 7px;top:20px;background-size: 11px 14px}

.bottom_area{position: fixed;bottom: 0;left: 0;width:100%;background-color: #4f4f4f;padding: 10px 0}
.bottom_area .get_member_card{display: block;width:300px;margin:0 auto;color: #fff;text-align: center;background-color: #00b700;height: 36px;line-height: 36px;border-radius:5px;border: #636363 1px solid;font-size: 18px;}

/* 全屏查看大图 */
.big_photo_container{position: absolute;width:100%;height:100%;background-color: #000;left: 0;top:0;overflow: hidden;display: none}
.big_photo_container .big_photo{width:1920px;position: absolute;top:50px;left:0}
.big_photo_container .big_photo li{width:320px;float: left}
.big_photo_container .big_photo li img{width:320px}

.big_photo_container .photo_points{position: absolute;bottom:12px;left: 50%;width:90px;height: 6px;margin-left: -45px}
.big_photo_container .photo_points li{width: 6px;height: 6px;float: left;margin-right:9px;border-radius: 3px;background-color: #4d4d4d}
.big_photo_container .photo_points li.current{background-color: #fff}

/* 针对ipad的处理 */
@media only screen and (min-device-width:1000px){
    .big_photo_container .big_photo{width:6144px;position: absolute;top:50px;left:0}
    .big_photo_container .big_photo li{width:1024px;float: left}
    .big_photo_container .big_photo li img{width:1024px}
}